
<div class="row">
    <div class="col-md-1"></div>
    <div class="well col-md-10">
        <div>
            <form
                    class="form-group"
                    ng-submit = "doRegister();" >
                <div class="row">
                    <div class="col-xs-5 text-right">
                        <label for="username">Username:</label>
                    </div>
                    <div class="col-xs-7">
                        <input id="username"
                               type="text"
                               ng-model="model.username"
                               placeholder="Type your username"
                               class="form-control"
                               autofocus/>
                    </div>
                </div>
                <div class="row verticallySpaced">
                    <div class="col-xs-5 text-right">
                        <label for="password">Password:</label>
                    </div>
                    <div class="col-xs-7">
                        <input
                                id="password"
                                type="password"
                                ng-model="model.password"
                                placeholder="Type your password"
                                class="form-control"
                                autofocus/>
                    </div>
                </div>
                <div class="row verticallySpaced">
                    <div class="col-xs-5 text-right">
                        <label for="passwordAgain">Repeat password:</label>
                    </div>
                    <div class="col-xs-7">
                        <input
                                id="passwordAgain"
                                type="password"
                                ng-model="model.passwordAgain"
                                placeholder="Repeat your password"
                                class="form-control"
                                autofocus/>
                    </div>
                </div>

                <div class="row verticallySpaced">
                    <div class="col-xs-5 text-right">
                        <label for="email">Email:</label>
                    </div>
                    <div class="col-xs-7">
                        <input
                                id="email"
                                type="email"
                                ng-model="model.email"
                                placeholder="Type your email adress"
                                class="form-control"
                                autofocus/>
                    </div>
                </div>

                <div class="row verticallySpaced">
                    <div class="col-xs-5 text-right">
                        <label for="displayName">Name:</label>
                    </div>
                    <div class="col-xs-7">
                        <input
                                id="displayName"
                                type="text"
                                ng-model="model.displayName"
                                placeholder="Type your display name"
                                class="form-control"
                                autofocus/>
                    </div>
                </div>

                <div class="row verticallySpaced">
                    <div class="col-xs-5 text-right">
                        <label for="filterInterests">Interests:</label>
                    </div>
                    <div class="col-xs-7">
                       <div class="interests-wrapper selected" ng-show="selectedExistingInterests.length || selectedNonExistingInterests.length">

                           <div ng-repeat="interest in selectedExistingInterests"
                           class="interest well clickable"
                           ng-click="removeInterest(interest);">
                               {{interest.name}}
                           </div>
                           <div ng-repeat="interest in selectedNonExistingInterests"
                                class="interest well clickable"
                                ng-click="removeInterest(interest);">
                               {{interest.name}}
                           </div>

                       </div>
                        <div>
                            <div mass-autocomplete class="relative autocomplete" id="registerAutocomplete">
                                <input ng-model="autoCompleteObject.value"
                                       class="form-control"
                                       id="filterInterests"
                                       placeholder="Search interests"
                                       my-enter="enterPressedInAutComplete();"
                                       mass-autocomplete-item="autocomplete_options">
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-5"></div>
                    <div class="col-xs-7">
                        <div class="error-response" ng-if="errorMessage">
                            {{errorMessage}}
                        </div>
                        <div class="success-response" ng-if="successMessage">
                            {{successMessage}}
                        </div>
                        <div class="waiting" ng-if="waiting">
                            Please wait ...
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5"></div>
                    <div class="col-xs-7">
                        <button class="btn btn-default" ng-disabled="waiting || isLoggedIn()">
                            Register
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="col-md-1"></div>
</div>
