<div class="row">
    <div class="col-md-12">
        <h2>Profile</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="well col-md-10">
        <div>
            <form
                    class="form-group"
                    ng-submit = "doSaveProfile();" >

                <div class="row verticallySpaced">
                    <div class="col-xs-5 text-right">
                        <label for="displayName">Name:</label>
                    </div>
                    <div class="col-xs-7">
                        <input
                                id="displayName"
                                type="text"
                                ng-model="profile.displayName"
                                placeholder="Type your display name"
                                class="form-control"
                                autofocus/>
                    </div>
                </div>

                <div class="row verticallySpaced">
                    <div class="col-xs-5 text-right">
                        <label for="filterInterests">Interests:</label>
                    </div>
                    <div class="col-xs-7">
                        <div class="interests-wrapper selected" ng-show="selectedExistingInterests.length || selectedNonExistingInterests.length">

                            <div ng-repeat="interest in selectedExistingInterests"
                                 class="interest well clickable"
                                 ng-click="removeInterestNew(interest);">
                                {{interest.name}}
                            </div>
                            <div ng-repeat="interest in selectedNonExistingInterests"
                                 class="interest well clickable"
                                 ng-click="removeInterestNew(interest);">
                                {{interest.name}}
                            </div>

                        </div>
                        <div>
                            <div mass-autocomplete class="relative autocomplete" id="registerAutocomplete">
                                <input ng-model="autoCompleteObject.value"
                                       class="form-control"
                                       id="filterInterests"
                                       placeholder="Search interests"
                                       my-enter="enterPressedInAutComplete();"
                                       mass-autocomplete-item="autocomplete_options">
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-5"></div>
                    <div class="col-xs-7">
                        <div class="error-response" ng-if="errorMessage">
                            {{errorMessage}}
                        </div>
                        <div class="success-response" ng-if="successMessage">
                            {{successMessage}}
                        </div>
                        <div class="waiting" ng-if="waiting">
                            Please wait ...
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5"></div>
                    <div class="col-xs-7">
                        <button class="btn btn-default" ng-disabled="waiting || !isLoggedIn()">
                            Save changes
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="well col-md-10">
        <div>
            <form
                    class="form-group"
                    ng-submit = "changePassword();" >

                <div class="row verticallySpaced">
                    <div class="col-xs-5 text-right">
                        <label for="oldPassword">Old password:</label>
                    </div>
                    <div class="col-xs-7">
                        <input
                                id="oldPassword"
                                type="password"
                                ng-model="passwordModel.oldPassword"
                                placeholder="Type your old password"
                                class="form-control"
                                autofocus/>
                    </div>
                </div>
                <div class="row verticallySpaced">
                    <div class="col-xs-5 text-right">
                        <label for="password">Password:</label>
                    </div>
                    <div class="col-xs-7">
                        <input
                                id="password"
                                type="password"
                                ng-model="passwordModel.password"
                                placeholder="Type your password"
                                class="form-control"
                                autofocus/>
                    </div>
                </div>
                <div class="row verticallySpaced">
                    <div class="col-xs-5 text-right">
                        <label for="passwordAgain">Repeat password:</label>
                    </div>
                    <div class="col-xs-7">
                        <input
                                id="passwordAgain"
                                type="password"
                                ng-model="passwordModel.passwordAgain"
                                placeholder="Repeat your password"
                                class="form-control"
                                autofocus/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-5"></div>
                    <div class="col-xs-7">
                        <div class="error-response" ng-if="changePasswordError">
                            {{changePasswordError}}
                        </div>
                        <div class="success-response" ng-if="changePasswordMessage">
                            {{changePasswordMessage}}
                        </div>
                        <div class="waiting" ng-if="changePasswordWaiting">
                            Please wait ...
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5"></div>
                    <div class="col-xs-7">
                        <button class="btn btn-default" ng-disabled="changePasswordWaiting || !isLoggedIn()">
                            Change password
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="col-md-1"></div>
</div>
