/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.verticallySpaced {
  margin-top:5px;
  margin-bottom:5px;
}
.interests-wrapper {
  margin:5px;
}
.interests-wrapper .interest{
  display: inline-block;
  padding:2px 5px;
  background: #e5e5e5;
  margin:1px;
}
.clickable {
  cursor: pointer !important;
}

.event {
}

.event.active {
}

.event .users > div{
  display: inline-block;
  font-size:0.8em;
  padding:2px 3px;
  margin:0px 5px;
  background: #ffffff;
}
.event .userComments>div>*{
  padding: 0;
}

.event .userComments>div>*:first-child {
  padding-right:5px;
}

.event .userComments {
  padding: 5px 20px;
  margin: 5px 0;

  color: #444444;
  display: none;
}
.event .userComments .userName{
  color: #000000;
}

.interests-wrapper .interest {

}

.interests-wrapper .interest:hover{
  background: #d5d5d5;
  cursor: default;
}

.interests-wrapper .interest.common{
  /*background: #B2FFB3;*/

  background-color: #fe7e13;
}
.interests-wrapper .interest.not-common{
   /*background: #FFD3DA;*/
  background-color: #a2a7b3;
 }

.highlight {
  color:red;
}

.relative {
  position: relative;
}

.autocomplete .ac-container {
  left: 0 !important;
  top: 34px !important;
}

.event .btn.btn-default {
  margin-top:4px;
}
.event {
  /*background-color: #fe7e13;*/
}

.event.expired {

}

.addNewEvent {
  /*background-color: #fe7e13;*/
}
h1, h2{
  color: #fe7e13;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-brand{
  color: #fe7e13 !important;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color:white !important;
}


